:root {
  --max-width: 1100px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

div#__next {
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}