@import url("https://fonts.googleapis.com/css2?family=Inter&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz@6..12&family=VT323&display=swap");

input.searchInput {
  align-items: center;
  background: var(--gray-100, #fff);
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--gray-400, #dcdfe3);
  display: flex;
  gap: 8px;
  height: 44px;
  margin-right: 10px;
}

button.searchButton {
  align-items: center;
  background: #605dec;
  border-radius: 4px;
  color: #fff;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.28px;
  line-height: 20px; /* 142.857% */
  padding: 12px 24px;
}

table.productsTable {
  border-radius: 8px;
  border-right: 1px solid var(--Border, #e4e4ef);
  border-left: 1px solid var(--Border, #e4e4ef);
  border-bottom: 1px solid var(--Border, #e4e4ef);
  border-collapse: separate;
}

.productsTable th {
  color: var(--text-primary, #1a1a1a);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-top: 1px solid var(--Border, #e4e4ef);
  box-shadow: -0px -0px -1px var(--Border, #e4e4ef);
}

.productsTable th:last-child {
  border-left: 1px solid var(--Border, #e4e4ef);
}

.productsTable tr {
  box-shadow: 0 -1px 0 var(--Border, #e4e4ef);
  cursor: pointer;
}

.productsTable tr:first-child {
  box-shadow: none;
  border-top: 1px solid var(--Border, #e4e4ef);
}

.productsTable tr:hover {
  opacity: 0.8;
}

.productsTable td {
  padding: 18px 16px;
  border: none;
}

.productsTable td:last-child {
  border-left: 1px solid var(--Border, #e4e4ef);
}

.secondaryText {
  color: var(--text-secondary, #808080);
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
