.productsTableContainer {
  width: 100%;
  margin-top: 50px;
}

table.productsTable {
  border-radius: 8px;
  border-right: 1px solid var(--table-border-color);
  border-left: 1px solid var(--table-border-color);
  border-bottom: 1px solid var(--table-border-color);
}

.productsTable th {
  background: white;
  border-top: 1px solid var(--table-border-color);
  color: var(--text-primary);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 16px;
  position: sticky;
  top: 0;
}

.productsTable th:last-child {
  border-left: 1px solid var(--table-border-color);
}

.productsTable tr {
  box-shadow: 0 -1px 0 var(--table-border-color);
  cursor: pointer;
}

.productsTable tr:first-child {
  box-shadow: none;
  border-top: 1px solid var(--table-border-color);
}

.productsTable tr:hover {
  opacity: 0.8;
}

.productsTable td {
  padding: 18px 16px;
  border: none;
}

.productsTable td:last-child {
  border-left: 1px solid var(--table-border-color);
}

.secondaryText {
  color: var(--text-secondary, #808080);
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.productsTableBoldText {
  color: var(--text-primary);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.productStatus {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 6rem;
  height: 2rem;
}

.statusOk {
  color: #605dec;
  background: #ededfe;
}

.statusGood {
  color: #31AA27;
  background: #EBF6EB;
}

.statusWarn {
  color:#E99518;
  background: #FFF4E4;
}

.statusAlert {
  color: #F93232;
  background: #FFF0F0;
}
