input.searchInput {
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--table-border-color);
  display: flex;
  gap: 8px;
  height: 2.7rem;
  margin-right: 1rem;
  min-width: 6rem;
  padding-left: 2.7rem;
}

button.searchButton {
  align-items: center;
  background: var(--search-btn-bg);
  border-radius: 4px;
  color: var(--search-btn-color);
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.002rem;
  line-height: 1.2rem;
  padding: 12px 24px;
  height: 2.7rem;
}

.searchInputErrorText {
  font-size: 0.9rem; 
}

.searchInputIcon {
  height: 1.5rem; 
  width: 1.5rem;
  color: var(--text-secondary);
}